@using System.Text
@using HCI.Models

@{
    ViewBag.Title = "Search Group Result";
}

<h2>Search Group Result</h2>


@section css{
    <style>
        .list-item-min-height {
            height: 40px;
        }

        .bold{
            font-weight:bold;
        }
    </style>
}

@{
    SearchGroupResultModel resultData = TempData["SearchGroupResultData"] as SearchGroupResultModel;
    if(resultData == null)
    {
        Response.Redirect("~/Group/GeneralSearchGroup");
    }
}

<div style="height:30px"></div>
@using (Html.BeginForm("GeneralSearchGroupResult", "Group", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @role = "form" }))
{
<div class="form-group">
    <label for="GeneralSearchKeyword" class="col-md-2 control-label">Search: </label>
    <div class="col-md-6">
        @if (!(resultData.AdvancedSearchResult) && resultData.GeneralSearchGroupQuery != null)
        {
            <input class="form-control" id="Keyword" name="Keyword" placeholder="Input keywords here" style="min-width:100%" type="text" value="@resultData.GeneralSearchGroupQuery.Keyword" />
        }
        else
        {
            <input class="form-control" id="Keyword" name="Keyword" placeholder="Input keywords here" style="min-width:100%" type="text" value="" />
        }
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-default">
            Search
        </button>
    </div>
    <div class="col-md-2" style="padding-top: 7px;">
        @Html.ActionLink("Advanced Search", "AdvancedSearchGroup", "Group")
    </div>
</div>
}

@if (resultData.AdvancedSearchResult && resultData.AdvancedSearchGroupQuery != null && resultData.AdvancedSearchGroupQuery.QueryList != null)
{
    <div class="alert alert-success" role="alert">
        The below result is searched through "Advanced Search" using the queries: 
            @{
                bool first = true;
            }
        @foreach (var query in resultData.AdvancedSearchGroupQuery.QueryList)
        {
            if (string.IsNullOrEmpty(query.SearchValue))
            {
                continue;
            }

            if (!first)
            {
                <span class="bold">@query.CombineType</span>
            }
            else { 
                first = false;
            }
            <span class="bold">
                (@query.SearchType @query.SearchVerbType @query.SearchValue)
            </span>
        }
</div>
}
else if (resultData.GeneralSearchGroupQuery != null && !string.IsNullOrEmpty(resultData.GeneralSearchGroupQuery.Keyword))
{
    <div class="alert alert-success" role="alert">
        The below result is searched using the keyword: <span class="bold">@resultData.GeneralSearchGroupQuery.Keyword</span>
    </div>
}

@if (resultData.Groups.FirstOrDefault() != null)
{
<div id="groupList">
    @foreach (var group in resultData.Groups)
    {

    <div class="row">
        <div class="panel panel-primary" id="groupPanel">
            <div class="panel-body">
                <div class="col-md-1" style="min-width:5%"></div>
                <div class="col-md-10">
                    <ul class="list-group">
                        <li class="list-group-item list-item-min-height" style="background-color:#e3e3e3;padding-top: 5px;">
                            <div class="col-md-4" id="nameValue" style="padding-top: 5px;font-weight: bold;font-size: 16px;">
                                    @Html.ActionLink(group.name, actionName: "GroupDetail", controllerName: "User", routeValues: new { ID = group.id }, htmlAttributes: new object())
                            </div>
                            <div class="col-md-7">
                                @Html.Hidden("groupId", group.id)
                                @Html.Hidden("userId", resultData.UserID)
                                <div class="col-md-9" id="waitingInfo" style="padding-left: 0px;padding-top: 5px;font-weight: bold;min-width: 310px;"></div>
                                <div class="col-md-3">
                                    @if (group.IsMember(resultData.UserID))
                                    {
                                        <button id="quitBtn" type="button" class="btn btn-danger" style="min-width: 180px; height:30px;padding-top: 3px;">
                                            Undo Join
                                        </button>
                                        <button id="joinBtn" type="button" class="btn btn-default" style="min-width: 180px; height:30px;padding-top: 3px;display:none">
                                            Join
                                        </button>
                                    }
                                    else
                                    {
                                        <button id="quitBtn" type="button" class="btn btn-danger" style="min-width: 180px; height:30px;padding-top: 3px;display:none">
                                            Undo Join
                                        </button>
                                        <button id="joinBtn" type="button" class="btn btn-default" style="min-width: 180px; height:30px;padding-top: 3px;">
                                            Join
                                        </button>
                                    }
                                </div>
                             </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-3" id="descLabel">
                                Description:
                            </div>
                            <div class="col-md-9" id="descValue">
                                @group.description
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-3">
                                Study Fields:
                            </div>
                            <div class="col-md-9">
                                @String.Join(",", group.RelGroupsStudyfields.Select(x => x.StudyField.name))
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-3">
                                Course Number:
                            </div>
                            <div class="col-md-9">
                                @group.course_no
                            </div>
                        </li>

                        @{
                        int height = 20 * (group.MeetingDescriptions.Count + 1);
                        if (height < 40)
                        { 
                            height = 40;
                        }
                        string heightPx = height.ToString() + "px";
                        }                               
                        <li class="list-group-item list-item-min-height" style="height:@heightPx">
                            
                            <div class="col-md-3">
                                Regular meetings:
                            </div>
                            <span class="col-md-9">
                                @{
                                    StringBuilder mtgDesc = new StringBuilder();
                                    foreach(var desc in group.MeetingDescriptions)
                                    {
                                        if (mtgDesc.Length > 0)
                                        {
                                            mtgDesc.Append("<br>");
                                        }
                                        mtgDesc.Append(desc);
                                        if (group.course_no == "CSC 520")
                                        {
                                            mtgDesc.Append("<span style=\"color:red;\">&nbsp;(Conflict with your classes)</span>");
                                            
                                        }
                                    }
                                }
                                @Html.Raw(mtgDesc.ToString())
                            </span>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-3">
                                Closed Group:
                            </div>
                            <div class="col-md-9">
                                @group.is_closed.ToString()
                                @if (group.is_closed == HCI.Utils.YesNo.Yes)
                            {
                            <a href="#" data-toggle="tooltip" data-placement="right" title="You have to get group owner's approval to join a closed group">&nbsp;(What's this)</a>
                            }
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-3">
                                Max Member Number:
                            </div>
                            <div class="col-md-9">
                                @group.max_member_number
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-3">
                                Owner:
                            </div>
                            <div class="col-md-9">
                                @group.Owner.name
                            </div>
                        </li>


                    </ul>
                </div>

            </div>

        </div>
    </div>
    }
</div>
}
else
{
    <div style="height:30px"></div>
    <h3 style="padding-left:20%">Oops! No group meets your high demand. Please search other groups.</h3>
}


<!-- Modal -->
<div class="modal" style="top:30%" id="QuitGroupConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalTitle">Quit the Group?</h4>
            </div>
            <div class="modal-body" id="modalBody">
                You are going to leave the group. Are you sure?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("QuitGroup", "User", FormMethod.Post))
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>

                    @Html.Hidden("modalGroupId")
                    <button type="submit" class="btn btn-danger">Yes</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/search-result")
}