@using HCI.Models
@model indexViewModel
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


@{
    ViewBag.Title = "Home Page";
}

<style>
    .form-signin,.form-signup{
        background-color:rgb(240,240,240);
        margin-bottom:15px;
        color:black;
    }
    .form-signin{
        padding-top:15px;
     }
    .index-container{
        background-image: url("@Url.Content("~/Content/img/index-background2.jpg")");
        height:1000px;
        left:0;
        right:0; 
        color:white;
        font-weight:bold;

    }
    .welcome-detail{
        margin-top:20px;
        color: black;
        display: block;
        font-family: Verdana,'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 23px;
        font-weight: 300;
        height: 124px;
        line-height: 31px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-shadow: none;
    }
    .row{
        margin-left:0;
        margin-right:0;
        padding-left:245px;
    }
    .foot{
        color:white;
        font-weight:bold;
        position:fixed;
        top:90%;
        left:268px;
    }
    .about-container{
        margin-top:70px;
    }
    h1{
        color: black;
        display: block;
        font-family: Verdana,"Lucida Console",'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 38px;
        font-weight: bold;
        height: 44px;
        line-height: 44px;
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        text-align: left;
        text-rendering:optimizelegibility;
        text-shadow: none;

    }
    .input-lg{
        width:260px;
    }
    .btn-lg{
        font-weight:bold;
    }
</style>
<div class="index-container">
    <div class="row">
        <div class="about-container col-md-12">
            <div class="front-welcome col-md-6">
                <h1>Welcome to NCSU Group Finder</h1>
                <p class="welcome-detail">Find a study group and join. Collaborate with others. Schedule a meeting. Solve problems together. Enjoy your study.
                
                </p>
            </div>
            <div class=" col-md-6">
            <div class="front-signin">
                <div class="row">
                    <div class="col-md-8 form-signin">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", @placeholder = "Username or Email" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-7">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    Remember Me
                                                </label>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="submit" value="Log in" class="btn btn-lg btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>
            <div class="front-signup">
                <div class="row">
                    <div class="col-md-8 form-signup">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-lg btn-default" value="Sign Up For Group Finder" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="foot container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NCSU Group Finder</p>
        </footer>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}