@model HCI.Models.UserGroupDetailModel
@{
    int event_detail_id = 0;
}
<style>
    .list-item-min-height {
        height: 50px;
    }

    .edit-input {
        display: none;
    }
</style>
@{
    string event_detail_id_str = "EventDetail" + @event_detail_id++.ToString();

}
<div hidden class="panel panel-primary" id="@event_detail_id_str">
    @foreach (var EventModel in Model.EventModel.Events.OrderBy(x => x.Start).Take(7))
    {
        <div class="panel-heading">
            <h1 class="panel-title">@EventModel.Title</h1>
        </div>
        <div class="panel-body" id="event-panel-body">

            <div hidden class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Time:
                            </div>
                            <div class="col-md-8">
                                <label>@EventModel.Start&nbsp;~&nbsp;@EventModel.End</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Location:
                            </div>
                            <div class="col-md-8">
                                <label>@EventModel.LocationAddress</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Note:
                            </div>
                            <div class="col-md-8">
                                <label>@EventModel.Description</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    }
</div>

