
@{
    ViewBag.Title = "My Schedule";
}

<h2>My Schedules</h2>

@section css{
    @*Styles.Render("~/Content/fullcalendar_css")*@
    
    <link rel='stylesheet' href="@Url.Content("~/Content/fullcalendar.css")" />

}

@section scripts{
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
    @*Scripts.Render("~/bundles/fullcalendar_js")*@

<script>
    function getDateString(date)
    {
        var dd, mm, yyyy;

        if (date.getDate) {
            dd = date.getDate();
            mm = date.getMonth() + 1; //January is 0!
            yyyy = date.getYear();
        }
        else
        {
            dd = date.date();
            mm = date.month() + 1; //January is 0!
            yyyy = date.year();
        }

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        dateStr = yyyy + '-' + mm + '-' + dd;
        return dateStr;
    }

    $(document).ready(function () {
        
        //today = getDateString(new Date());
        var today = new moment(new Date());
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            timeFormat: 'H:mm',
            defaultDate: today,
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: function (start, end, timezone, callback) {
                var startStr = getDateString(start);
                var endStr = getDateString(end);
                $.ajax({
                    url: '/HCI/api/EventList',
                    dataType: 'json',
                    data: {
                        start: startStr,
                        end: endStr,
                        userName: "@User.Identity.Name"

                    },
                    success: function (data) {
                        var events = [];
                        var i =0;
                        var color = "#9A9CFF";

                        for (i = 0; i < data.length; i++)
                        {
                            if (data[i].IsMeeting) {
                                color = "#59b953";
                            }
                            else
                            {
                                color = "#9A9CFF"
                            }
                            events.push({
                                title: data[i].Title,
                                start: data[i].Start,
                                end: data[i].End,
                                color: color,
                                allDay: false
                            })
                        }
                        callback(events);
                    }
                });
            },
            eventClick: function (calEvent, jsEvent, view) {

                alert('Event: ' + calEvent.title);
                alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                alert('View: ' + view.name);

                // change the border color just for fun
                $(this).css('border-color', 'red');

            }
        });

    });

</script>
}

<div id='calendar'></div>

@*
@foreach (var _event in Model.Events)
{
    <div>
        @_event.Name
    </div>
    if(_event.IsMeeting)
    {
    <div>
        @_event.Location.name
    </div>
    <div>
        @_event.Location.address
    </div>
    }
}*@

