
@{
    ViewBag.Title = "My Schedule";
}

<h2>My Schedules</h2>

@section css{
    @*Styles.Render("~/Content/fullcalendar_css")*@
    
    <link rel='stylesheet' href="@Url.Content("~/Content/fullcalendar.css")" />

    <style>
    .list-item-min-height {
        height: 40px;
        padding-right:0px;
        }

    .invisible {
        display:none;
    }
    </style>

}

<div id="userName" class="invisible">@User.Identity.Name</div>

<div id='calendar'></div>

<div id="eventList" style="display:none">

</div>


<div class="modal" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="invisible" id="uid"></div>
    <div class="invisible" id="peroidic"></div>
    <div class="invisible" id="eventID"></div>
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Meeting Information</h4>
            </div>
            <div class="modal-body" id="event-modalBody">

                <div class="panel panel-primary" id="meetingDetails">

                    <div class="panel-heading">
                        <h1 class="panel-title" id="title"></h1>
                    </div>
                    <div class="panel-body" id="event-panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-4" style="font-weight:bold">
                                            Time:
                                        </div>
                                        <div class="col-md-8" id="time">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-4" style="font-weight:bold">
                                            Location:
                                        </div>
                                        <div class="col-md-8" id="location">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-4" style="font-weight:bold">
                                            Meeting Description:
                                        </div>
                                        <div class="col-md-8" id="description">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger col-md-5" data-dismiss="modal" id="cancelSeriesBtn">Cancel the Meeting Series</button>
                    <button type="button" class="btn btn-warning col-md-4" data-dismiss="modal" id="cancelBtn">Cancel the Meeting</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="scheduleMeetingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="invisible" id="uid"></div>
    <div class="invisible" id="peroidic"></div>
    <div class="invisible" id="eventID"></div>
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Scheudle a Meeting</h4>
            </div>
            @using (Html.BeginForm("ScheduleMeeting", "User", FormMethod.Get))
            {
                <input type="hidden" value="" name="meetingDate" id="meetingDate" />
            <div class="modal-body" id="event-modalBody">
                <div class="panel panel-primary" id="meetingDetails">

                    <div class="panel-heading">
                        <h1 class="panel-title" id="title">Do you want to schedule a meeting?</h1>
                    </div>
                    <div class="panel-body" id="event-panel-body">
                        <div class="alert alert-success" role="alert">
                            Select the group you want to schedule the meeting and click the "Schedule a Meeting" button to input more details of the meeting.
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item list-item-min-height" style="min-height: 50px;">
                                        <div class=" col-md-4" style="font-weight:bold">
                                            Group Name:
                                        </div>
                                        <div class="col-md-8" id="group">
                                            <select class="form-control col-md-5" style="padding-left:0px" id="groupId" name="groupId">
                                                <option value="4" selected>Computer Science Group</option>
                                                <option value="9">HCI Group</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-info" id="scheduleBtn">Schedule a Meeting</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn">Cancel</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
    @Scripts.Render("~/bundles/get-schedules")
}