@model HCI.Models.UserInfoModel

<style>
    .list-item-min-height {
        height: 50px;
    }

    .edit-input {
        display: none;
    }
</style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">User Information</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Name:
                            </div>
                            <div class="col-md-8">
                                <label>@Model.user.name</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Email:
                            </div>
                            <div class="col-md-8">
                                <label id="user-name">@Model.user.name&#64;ncsu.edu</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Major:
                            </div>
                            <div class="col-md-8">
                                <label>@Model.user.Major.major_name</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Degree Level:
                            </div>
                            <div class="col-md-8">
                                <label>@Model.user.DegreeLevel.degree_level_desc</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Phone Number:
                            </div>
                            <div class="col-md-8">
                                <label id="lb-user-phone">@Model.user.phone</label>
                            </div>
                        </li>
                        <!-- private information 
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Address:
                            </div>
                            <div class="col-md-8">
                                <label id="lb-user-address">@Model.user.addr</label>
                            </div>
                        </li>
                            -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

