@model HCI.Models.UserGroupDetailModel
@{
    ViewBag.Title = "GroupDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int event_id = 0;
    int event_detail_id = 0;
}

@section css{
    <style>
        .list-item-min-height {
            height: 50px;
        }

        .edit-input {
            display: none;
        }
    </style>
}

<h2>Group Detail</h2>
<div class="row">
    <div class="col-md-6" id="group">
        <div class="panel panel-primary">
            @{
                var group = @Model.Group;
            }
            <div class="panel-heading" id="groupName">@group.name.ToString().ToUpper()</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td>
                            Description:
                        </td>
                        <td>
                            @group.description
                        </td>
                    </tr>
                    
                    <tr>
                        <td >
                            Study Fields:
                        </td>
                        <td>
                            @String.Join(",", group.RelGroupsStudyfields.Select(x => x.StudyField.name))
                        </td>
                    </tr>
                        <tr >
                            <td >
                                Course Number:
                            </td>
                            <td>
                                @group.course_no
                            </td>
                        </tr>
                        <tr>
                            <td >
                                Closed Group:

                            </td>
                            <td>
                                @group.is_closed.ToString()
                                @if (group.is_closed == HCI.Utils.YesNo.Yes)
                                {
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="You have to get group owner's approval to join a closed group">&nbsp;(What's this)</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                Max Member Number:
                            </td>
                            <td class="col-md-8">
                                @group.max_member_number
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Owner:
                            </td>
                            <td>
                                @group.Owner.name
                            </td>
                        </tr>                                          
                </table>
                <div class="col-md-12">
                    <div style="height:40px" id="quitGroupBtn">
                        <div id="groupId" style="display:none">@group.id</div>

                        @if (group.IsOwner(User.Identity.Name))
                        {
                                @Html.Hidden("groupId", group.id)
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary" style="min-width:150px" data-toggle="modal" data-target="#QuitGroupConfirmation" onclick="quitGroupPreparation(this)">
                                    Edit
                                </button>
                            </div>

                            <div class="col-md-offset-1 col-md-4">
                                @using (Html.BeginForm("ScheduleMeeting", "User", FormMethod.Get))
                                {
                                        @Html.Hidden("groupId", group.id)
                                        <button type="submit" class="btn btn-default" style="min-width:150px">
                                            Schedule a Meeting
                                        </button>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                            <button type="submit" class="btn btn-primary"disabled style="min-width:150px" data-toggle="modal" data-target="#QuitGroupConfirmation" onclick="quitGroupPreparation(this)">
                            Edit
                            </button>
                                </div>
                            <div class="col-md-offset-1 col-md-4">
                            <button type="submit" class="btn btn-default" style="min-width:150px" disabled>
                                Schedule a Meeting
                            </button>
                                </div>
                        }


                        
                    </div>    
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2" id="members">
        <div class="panel panel-primary">
            <div class="panel-heading" id="groupName">GROUP MEMBER</div>
            <div class="panel-body" id="UserList">
                <table class="table table-hover">
                    @foreach (var user in Model.UserModel)
                    {
                        <tr>
                            <td>
                                <a id="link-userName" data-toggle="modal" data-target="#userModal">@user.name</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">User Information</h4>
                </div>
                <div class="modal-body" id="user-modalBody">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" id="events">
        <div class="panel panel-primary">
            <div class="panel-heading" id="groupName">GROUP EVENTS</div>
            <div class="panel-body" id="EventList">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <b>TIME</b>
                        </td>
                        <td>
                           <b>TITLE</b>
                        </td>
                        <td>
                            <b>LOCATION</b>
                        </td>
                    </tr>
                    @foreach (var groupEvent in Model.EventModel.Events.OrderBy(x => x.Start).Take(7))
                    {
                        <tr>
                            <td>
                                <p>@groupEvent.Start&nbsp;~&nbsp;@groupEvent.End</p>
                            </td>
                            <td>
                                <p hidden id= "eventID">@event_id</p>
                                @{
                        event_id++;
                                }
                                <a id="link-event" data-toggle="modal" data-target="#eventModal">@groupEvent.Title</a>
                            </td>
                            <td>
                                <p>@groupEvent.Location</p>
                            </td>
                        </tr>                        
                    }   
                </table>

                <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Event Information</h4>
                            </div>
                            <div class="modal-body" id="event-modalBody">
                               
                                @foreach (var EventModel in Model.EventModel.Events.OrderBy(x => x.Start).Take(7))
                                {                                                               
                                  
                                    string event_detail_id_str = "EventDetail" + @event_detail_id++.ToString();

                                <div hidden class="panel panel-primary hide-all-event" id="@event_detail_id_str">
                                   
                                        <div class="panel-heading">
                                            <h1 class="panel-title">@EventModel.Title</h1>
                                        </div>
                                        <div class="panel-body" id="event-panel-body">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="list-group">
                                                        <li class="list-group-item list-item-min-height">
                                                            <div class="col-md-4">
                                                                Time:
                                                            </div>
                                                            <div class="col-md-8">
                                                                <label>@EventModel.Start&nbsp;~&nbsp;@EventModel.End</label>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item list-item-min-height">
                                                            <div class="col-md-4">
                                                                Location:
                                                            </div>
                                                            <div class="col-md-8">
                                                                <label>@EventModel.LocationAddress</label>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item list-item-min-height">
                                                            <div class="col-md-4">
                                                                Meeting Description:
                                                            </div>
                                                            <div class="col-md-8">
                                                                <label>@EventModel.Description</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                   
                                </div>
                                    }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger col-md-5" data-dismiss="modal" id="cancelSeriesBtn">Cancel the Meeting Series</button>
                                <button type="button" class="btn btn-warning col-md-4" data-dismiss="modal" id="cancelBtn">Cancel the Meeting</button>

                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts{
    @Scripts.Render("~/bundles/group-details")
}