@model HCI.Models.UserGroupDetailModel
@{
    ViewBag.Title = "GroupDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
    $(document).ready(function ($) {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            
        })
    });

    $(document).ready(function () {
        $("#UserList").on("click", "#link-userName", function () {
            var userName = $(this).text();
            $.ajax({
                type: "GET",
                url: "/HCI/User/GetUserInfo",
                data: { userName: $(this).text() }
            })
            .done(function (partialViewResult) {
                $("#modalBody").html(partialViewResult);
            });
        });
    });
    </script>
}

<h2>GroupDetail</h2>
<div class="row">
    <div class="col-md-6" id="group">
        <div class="panel panel-primary">
            @{
                var group = @Model.Group;
            }
            <div class="panel-heading" id="groupName">@group.name.ToString().ToUpper()</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td>
                            Description:
                        </td>
                        <td>
                            @group.description
                        </td>
                    </tr>
                    
                    <tr>
                        <td >
                            Study Fields:
                        </td>
                        <td>
                            @String.Join(",", group.RelGroupsStudyfields.Select(x => x.StudyField.name))
                        </td>
                    </tr>
                        <tr >
                            <td >
                                Course Number:
                            </td>
                            <td>
                                @group.course_no
                            </td>
                        </tr>
                        <tr>
                            <td >
                                Closed Group:

                            </td>
                            <td>
                                @group.is_closed.ToString()
                                @if (group.is_closed == HCI.Utils.YesNo.Yes)
                                {
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="You have to get group owner's approval to join a closed group">&nbsp;(What's this)</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                Max Member Number:
                            </td>
                            <td class="col-md-8">
                                @group.max_member_number
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Owner:
                            </td>
                            <td>
                                @group.Owner.name
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2" id="members">
        <div class="panel panel-primary">
            <div class="panel-heading" id="groupName">GROUP MEMBER</div>
            <div class="panel-body" id="UserList">
                <table class="table table-hover">
                    @foreach (var user in Model.UserModel)
                    {
                        <tr>
                            <td>
                                <a id="link-userName" data-toggle="modal" data-target="#userModal">@user.name</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">User Information</h4>
                </div>
                <div class="modal-body" id="modalBody">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" id="events">
        <div class="panel panel-primary">
            <div class="panel-heading" id="groupName">GROUP EVENTS</div>
            <div class="panel-body" id="Eventlist">
                <table class="table table-hover">
                    @foreach (var groupEvent in Model.EventModel.Events.OrderBy(x => x.Start).Take(7))
                    {
                        <tr>
                            <td>
                                <b>@groupEvent.Start</b>
                                <b>&nbsp;~&nbsp;</b>
                                <b>@groupEvent.End</b>
                            </td>
                            <td>
                                <a href="#">@groupEvent.Title</a>
                            </td>
                        </tr>
                    }   
                </table>
            </div>
        </div>
    </div>
</div>