@model HCI.Models.UserInfoModel


<h1>Update Personal Information</h1>
<div class="container body-content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Personal Information</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Name:
                            </div>
                            <div class="col-md-6">
                                Jhon Smith
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Email:
                            </div>
                            <div class="col-md-6">
                                @Model.user.name
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Major:
                            </div>
                            <div class="col-md-6">
                                @Model.user.Major.major_name
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Degree Level:
                            </div>
                            <div class="col-md-6">
                                @Model.user.DegreeLevel.degree_level_desc
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Phone Number:
                            </div>
                            <div class="col-md-6">
                              
                                @Model.user.phone
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Address:
                            </div>
                            <div class="col-md-6">
                                @Model.user.addr
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.ActionLink("Edit User Infomation", "UserUpdateInfo", "User")
                    <form action="~/User/UserUpdateInfo">
                        <button type="submit" class="btn btn-info" style="min-width:150px">
                            Edit User Infomation
                        </button>
                    </form>
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Change Password", "ChangePassword", "User")
                    <form action="~/Account/Manage">
                        <button type="submit" class="btn btn-info" style="min-width:150px" data-toggle="modal" data-target="#QuitGroupConfirmation" onclick="quitGroupPreparation(this)">
                            Change Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
