@model HCI.Models.MailModel

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>

@Html.Hidden("userName", User.Identity.Name)

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active" id="joinRequestsTab"><a href="javascript:void(0)">Join Group Requests<span class="badge" id="joinRequestsTabBadge"></span></a></li>
    <li role="presentation" id="meetingRequestsTab"><a href="javascript:void(0)">Meeting Requests<span class="badge" id="meetingRequestsTabBadge"></span></a></li>
</ul>

<div id="joinRequests">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center;">
                    <div class="dropdown" id="batchSelection">
                        <a id="drop6" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            Batch Selection<span class="caret"></span>
                        </a>
                        <ul id="batchSelectionMenu" class="dropdown-menu" role="menu" aria-labelledby="batchSelectionMenu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" id="selectAll">Select All</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" id="unselectAll">Unselect All</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" id="selectAllUnprocessed">Select All Unprocessed</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" id="selectAllProcessed">Select All Processed</a></li>
                        </ul>
                    </div>
                </th>
                <th style="text-align: center;">Sender Name</th>
                <th style="text-align: center;">Received Time</th>
                <th style="text-align: center;">Message</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody id="mailList">
            @foreach (var mail in Model.MailList)
            {
                if (mail.MailType != MailType.JoinRequest)
                {
                    continue;
                }
                
                string boldStyle = string.Empty;
                string disabled = string.Empty;
                if (mail.Readed == YesNo.No)
                {
                    boldStyle = "bold";
                }
                <tr class="@boldStyle" id="message">
                    @Html.Hidden("senderID", mail.SenderID)
                    @Html.Hidden("mailID", mail.MailID)
                    @Html.Hidden("groupID", mail.GroupID)
                    @Html.Hidden("membershipID", mail.GroupMembershipID)
                    @Html.Hidden("readed", (int)mail.Readed)
                    <td style="text-align: center;">
                        <input type="checkbox" id="check" name="check"></td>
                    <td style="text-align: center;">
                        <a href="javascript:void(0)" id="sender">@mail.Sender</a>
                    </td>
                    <td id="receivedTime" style="text-align: center;">
                        @mail.SendingTime
                    </td>
                    <td id="messageCell" >
                        <div>
                            <a href="javascript:void(0)" id="sender">
                                @mail.Sender
                            </a>
                            &nbsp;is requesting to join your group
                            <a href="javascript:void(0)" id="group">
                                @mail.GroupName
                            </a>
                        </div>
                    </td>
                    <td id="status">
                        @mail.ApprovalStatus
                    </td>
                    <td id="actionCell" style="text-align: center;">
                        @if (mail.Readed == YesNo.No)
                        {
                            <button type="button" class="btn btn-success" id="acceptBtn">Accept</button>
                            <button type="button" class="btn btn-danger" id="rejectBtn">Reject</button>
                            <button type="button" class="btn btn-default invisible" id="undoBtn">Revert to Pending</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-success invisible" id="acceptBtn">Accept</button>
                            <button type="button" class="btn btn-danger invisible" id="rejectBtn">Reject</button>
                            <button type="button" class="btn btn-default" id="undoBtn">Revert to Pending</button>
                        }

                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div class="row" style="text-align: center;">
        <button type="button" class="btn btn-success" id="acceptAllBtn" disabled>Accept Selected</button>
        <span style="padding-left:10px"></span>
        <button type="button" class="btn btn-danger" id="rejectAllBtn" disabled>Reject Selected</button>
        <span style="padding-left:30px"></span>
        <button type="button" class="btn btn-default" id="undoAllBtn" disabled>Revert Selected to Pending</button>
    </div>

</div>

<div class="invisible" id="meetingRequests">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center;">
                    <div class="dropdown" id="batchSelection">
                        <a id="drop6" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            Batch Selection<span class="caret"></span>
                        </a>
                        <ul id="batchSelectionMenu" class="dropdown-menu" role="menu" aria-labelledby="batchSelectionMenu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" id="selectAll">Select All</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" id="unselectAll">Unselect All</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" id="selectAllUnprocessed">Select All Unprocessed</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" id="selectAllProcessed">Select All Processed</a></li>
                        </ul>
                    </div>
                </th>
                <th style="text-align: center;">Sender Name</th>
                <th style="text-align: center;">Received Time</th>
                <th style="text-align: center;">Message</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody id="mailList">
            @foreach (var mail in Model.MailList)
            {
                if (mail.MailType != MailType.MeetingRequest)
                {
                    continue;
                }
                
                string boldStyle = string.Empty;
                string disabled = string.Empty;
                if (mail.Readed == YesNo.No)
                {
                    boldStyle = "bold";
                }
                <tr class="@boldStyle" id="message">
                    @Html.Hidden("mailID", mail.MailID)
                    @Html.Hidden("readed", (int)mail.Readed)
                    @Html.Hidden("senderID", mail.SenderID)
                    @Html.Hidden("meetingID", mail.MeetingId)
                    @Html.Hidden("groupID", mail.GroupID)
                    <td style="text-align: center;">
                        <input type="checkbox" id="check" name="check">
                    </td>
                    <td>
                        <a href="javascript:void(0)" id="sender">@mail.Sender</a>
                    </td>
                    <td id="receivedTime" style="text-align: center;">
                        @mail.SendingTime
                    </td>
                    <td id="messageCell">
                        <div>
                            <a href="javascript:void(0)" id="sender">
                                @mail.Sender
                            </a>
                            &nbsp;is scheduling a meeting&nbsp;
                            <a href="javascript:void(0)" id="meeting">
                                @mail.MeetingTitle
                            </a>
                            &nbsp;in the group&nbsp;
                            <a href="javascript:void(0)" id="group">
                                @mail.GroupName
                            </a>
                        </div>
                    </td>
                    <td id="actionCell" style="text-align: center;">
                        @if (mail.Readed == YesNo.No)
                        {
                            <button type="button" class="btn btn-primary" id="markReadedBtn" style=" min-width: 140px; ">Mark Readed</button>
                            <button type="button" class="btn btn-warning invisible" id="markUnreadedBtn" style=" min-width: 140px; ">Mark Unreaded</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary invisible" id="markReadedBtn" style=" min-width: 140px; ">Mark Readed</button>
                            <button type="button" class="btn btn-warning" id="markUnreadedBtn" style=" min-width: 140px; ">Mark Unreaded</button>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div class="row" style="text-align: center;">
        <button type="button" class="btn btn-primary" id="markAllReadedBtn" disabled>Mark Selected Readed</button>
        <span style="padding-left:10px"></span>
        <button type="button" class="btn btn-warning" id="markAllUnreadedBtn" disabled>Mark Selected Unreaded</button>
    </div>
</div>

<div class="modal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">User Information</h4>
            </div>
            <div class="modal-body" id="user-modalBody">
                <style>
                </style>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">User Information</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-4 bold">
                                            Name:
                                        </div>
                                        <div class="col-md-8" id="name">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-4 bold">
                                            Email:
                                        </div>
                                        <div class="col-md-8" id="email">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-4 bold">
                                            Major:
                                        </div>
                                        <div class="col-md-8" id="major">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-4 bold">
                                            Degree Level:
                                        </div>
                                        <div class="col-md-8" id="degree">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-4 bold">
                                            Phone Number:
                                        </div>
                                        <div class="col-md-8" id="phone">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Group Information</h4>
            </div>
            <div class="modal-body" id="user-modalBody">
                <style>
                </style>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Group Information</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-5 bold">
                                            Name:
                                        </div>
                                        <div class="col-md-7" id="name">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-5 bold">
                                            Description:
                                        </div>
                                        <div class="col-md-7" id="description">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-5 bold">
                                            Study Fields:
                                        </div>
                                        <div class="col-md-7" id="studyFields">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-5 bold">
                                            Course Number:
                                        </div>
                                        <div class="col-md-7" id="courseNo">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-5 bold">
                                            Max Member Number:
                                        </div>
                                        <div class="col-md-7" id="maxMemberNumber">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Meeting Information</h4>
            </div>
            <div class="modal-body" id="user-modalBody">
                <style>
                </style>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Meeting Information</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-3 bold">
                                            Name:
                                        </div>
                                        <div class="col-md-9" id="name">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-3 bold">
                                            Description:
                                        </div>
                                        <div class="col-md-9" id="description">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-3 bold">
                                            Time:
                                        </div>
                                        <div class="col-md-9" id="time">
                                        </div>
                                    </li>
                                    <li class="list-group-item list-item-min-height">
                                        <div class="col-md-3 bold">
                                            Location:
                                        </div>
                                        <div class="col-md-9" id="location">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section css
{
    <style>
        .bold {
            font-weight: bold;
        }

        .invisible {
            display: none;
        }

        ul.nav.nav-tabs.nav-justified > li:not(.active) > a:hover {
            background-color: rgb(238, 238, 238);
        }

        ul.nav.nav-tabs.nav-justified>li>a
        {
            color:#555;
        }

        .list-item-min-height {
            height: 40px;
        }

    </style>
}

@section scripts {
    @Scripts.Render("~/bundles/mailbox")
}
