<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/woodply_css")*@
    @*@Styles.Render("~/Content/font-awesome_css_cdn")*@
    @Styles.Render("~/Content/flame_css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/woodply_js")*@
    @RenderSection("scripts", required: false)

</head>

<body>
    <div id="fixHeader" class="fixHeader">
        <div id="logo" class="logo">Logo</div>
        <div id="signIn" class="signIn">Sign In</div>
        <div id="signUp" class="signUp">Sign Up</div>
    </div>
    <div id="container">
        <header>
            <h1><a href="/">Company<span>Name</span></a></h1>
            <h2>your website slogan here</h2>
        </header>
        <nav>
            <ul>
                <li class="start selected"><a href="/HCI/Home">Home</a></li>
                <li class=""><a href="/HCI/Example">Examples</a></li>
                <li><a href="/HCI/Home/About">About</a></li>
                <li class="end"><a href="/HCI/Home/Contact">Contact</a></li>
            </ul>
        </nav>

        <div id="body">

            <section id="content">
                @RenderBody()
                </section>
                <aside class="sidebar">

                    <ul>
                        <li>
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="index.html">Home Page</a></li>
                                <li><a href="examples.html">Style Examples</a></li>
                                <li><a href="#">Commodo vestibulum sem mattis</a></li>
                                <li><a href="#">Sed aliquam libero ut velit bibendum</a></li>
                                <li><a href="#">Maecenas condimentum velit vitae</a></li>
                            </ul>
                        </li>

                        <li>
                            <h4>About us</h4>
                            <ul>
                                <li class="text">
                                    <p style="margin: 0;">Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu pretium luctus. <a href="#" class="readmore">Read More &raquo;</a></p>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h4>Search site</h4>
                            <ul>
                                <li class="text">
                                    <form method="get" class="searchform" action="#">
                                        <p>
                                            <input type="text" size="27" value="" name="s" class="s" />

                                        </p>
                                    </form>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h4>Helpful Links</h4>
                            <ul>
                                <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates">Premium HTML web templates from $10</a></li>
                                <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting">Cheap web hosting from Dreamhost</a></li>
                                <li><a href="http://tuxthemes.com" title="Tux Themes">Premium WordPress themes</a></li>
                            </ul>
                        </li>

                    </ul>

                </aside>

                <div class="clear"></div>
</div>
        <footer>
            <div class="footer-content">
                <ul>
                    <li><h4>Proin accumsan</h4></li>
                    <li><a href="#">Rutrum nulla a ultrices</a></li>
                    <li><a href="#">Blandit elementum</a></li>
                    <li><a href="#">Proin placerat accumsan</a></li>
                    <li><a href="#">Morbi hendrerit libero </a></li>
                    <li><a href="#">Curabitur sit amet tellus</a></li>
                </ul>

                <ul>
                    <li><h4>Condimentum</h4></li>
                    <li><a href="#">Curabitur sit amet tellus</a></li>
                    <li><a href="#">Morbi hendrerit libero </a></li>
                    <li><a href="#">Proin placerat accumsan</a></li>
                    <li><a href="#">Rutrum nulla a ultrices</a></li>
                    <li><a href="#">Cras dictum</a></li>
                </ul>

                <ul class="endfooter">
                    <li><h4>Get social</h4></li>
                    <li><a href="#">Follow us on Twitter</a></li>
                    <li><a href="#">Join us on Facebook</a></li>
                    <li><a href="#">Subscribe on YouTube</a></li>
                    <li><a href="#">+1 us on Google+</a></li>
                </ul>

                <div class="clear"></div>
            </div>
            <div class="footer-bottom">
                <p>&copy; YourSite 2013. <a href="http://zypopwebtemplates.com/">Free HTML5 Templates</a> by ZyPOP</p>
            </div>
        </footer>
    </div>

    
</body>

</html>
