@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Dashboard", "Dashboard", "User")</li>
        <li>@Html.ActionLink("Search/Join Group", "GeneralSearchGroup", "Group")</li>
        <li>@Html.ActionLink("Create Group", "Contact", "Home")</li>
        <li>@Html.ActionLink("My Groups", "GetGroups", "User")</li>
        <li>@Html.ActionLink("My Schedule", "GetSchedules", "User")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "UserInfo", "User", routeValues: null, htmlAttributes: new { title = "Personal Information" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
